2.0/src/MIF2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by HENNING HERMJAKOB (EMBL OUTSTATION THE EBI) -->
<xs:schema targetNamespace="net:sf:psidev:mi" xmlns="net:sf:psidev:mi" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
 <!--Root element-->
 <xs:element name="entrySet">
  <xs:annotation>
   <xs:documentation>Root element of the Molecular Interaction Format</xs:documentation>
  </xs:annotation>
  <xs:complexType>
   <xs:sequence>
    <xs:element name="entry" maxOccurs="unbounded">
     <xs:annotation>
      <xs:documentation>Describes one or more interactions as a self-contained unit. Multiple entries from different files can be concatenated into a single entrySet.</xs:documentation>
     </xs:annotation>
     <xs:complexType>
      <xs:sequence>
       <xs:element name="source" minOccurs="0">
        <xs:annotation>
         <xs:documentation>Desciption of the source of the entry, usually an organisation</xs:documentation>
        </xs:annotation>
        <xs:complexType>
         <xs:sequence>
          <xs:element name="names" type="namesType" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Name(s) of the data source, for example the organisation name.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="bibref" type="bibrefType" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Bibliographic reference for the data source. Example: A paper which describes all interactions of the entry.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="xref" type="xrefType" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Cross reference for the data source. Example: Entry in a database of databases. </xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="attributeList" type="attributeListType" minOccurs="0">
           <xs:annotation>
            <xs:documentation>Further description of the source.</xs:documentation>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
         <xs:attribute name="release" type="xs:string" use="optional"/>
         <xs:attribute name="releaseDate" type="xs:date" use="optional"/>
        </xs:complexType>
       </xs:element>
       <xs:element name="availabilityList" minOccurs="0">
        <xs:annotation>
         <xs:documentation>Data availability statements, for example copyrights</xs:documentation>
        </xs:annotation>
        <xs:complexType>
         <xs:sequence>
          <xs:element name="availability" type="availabilityType" default="free" minOccurs="0" maxOccurs="unbounded">
           <xs:annotation>
            <xs:documentation>Describes data availability, e.g. through a copyright statement. If no availability is given, the data is assumed to be freely available.</xs:documentation>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
       </xs:element>
       <xs:element name="experimentList" minOccurs="0">
        <xs:annotation>
         <xs:documentation>All experiments in which the interactions of this entry have been determined</xs:documentation>
        </xs:annotation>
        <xs:complexType>
         <xs:sequence>
          <xs:element name="experimentDescription" type="experimentType" minOccurs="0" maxOccurs="unbounded">
           <xs:annotation>
            <xs:documentation>Describes one set of experimental parameters, usually associated with a single publication.</xs:documentation>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
       </xs:element>
       <xs:element name="interactorList" minOccurs="0">
        <xs:annotation>
         <xs:documentation>List of all interactors occurring in the entry</xs:documentation>
        </xs:annotation>
        <xs:complexType>
         <xs:sequence>
          <xs:element name="proteinInteractor" type="proteinInteractorType" minOccurs="0" maxOccurs="unbounded">
           <xs:annotation>
            <xs:documentation>A protein object in its native state, as described in sequence databases.</xs:documentation>
            <xs:documentation>Usage: A protein interactor must contain an xref to UniProt and NCBI-GI where possible. </xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="dnaInteractor" type="dnaInteractorType" minOccurs="0" maxOccurs="unbounded">
           <xs:annotation>
            <xs:documentation>A dna molecule in its native state, as described in sequence databases.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="rnaInteractor" type="rnaInteractorType" minOccurs="0" maxOccurs="unbounded">
           <xs:annotation>
            <xs:documentation>A rna molecule in its native state, as described in sequence databases.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="smallMoleculeInteractor" type="smallMoleculeInteractorType" minOccurs="0" maxOccurs="unbounded">
           <xs:annotation>
            <xs:documentation>A small molecule.</xs:documentation>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
       </xs:element>
       <xs:element name="interactionList">
        <xs:annotation>
         <xs:documentation>List of interactions</xs:documentation>
        </xs:annotation>
        <xs:complexType>
         <xs:sequence>
          <xs:element name="interaction" maxOccurs="unbounded">
           <xs:annotation>
            <xs:documentation>A set of molecules interacting. </xs:documentation>
           </xs:annotation>
           <xs:complexType>
            <xs:complexContent>
             <xs:extension base="interactionElementType">
              <xs:attribute name="id" type="xs:int" use="required"/>
             </xs:extension>
            </xs:complexContent>
           </xs:complexType>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
       </xs:element>
       <xs:element name="attributeList" type="attributeListType" minOccurs="0">
        <xs:annotation>
         <xs:documentation>Semi-structured additional description of the data contained in the entry.</xs:documentation>
        </xs:annotation>
       </xs:element>
      </xs:sequence>
     </xs:complexType>
     <xs:key name="experimentKey">
      <xs:selector xpath="experimentList/experimentDescription"/>
      <xs:field xpath="@id"/>
     </xs:key>
     <xs:keyref name="experimentRef" refer="experimentKey">
      <xs:selector xpath="interactionList/interaction/experimentList/experimentRef"/>
      <xs:field xpath="@ref"/>
     </xs:keyref>
     <xs:key name="interactorKey">
      <xs:selector xpath="interactorList/proteinInteractor"/>
      <xs:field xpath="@id"/>
     </xs:key>
     <xs:keyref name="interactorRef" refer="interactorKey">
      <xs:selector xpath="interactionList/interaction/participantList/proteinParticipant/proteinInteractorRef"/>
      <xs:field xpath="@ref"/>
     </xs:keyref>
     <xs:key name="availabilityKey">
      <xs:selector xpath="availabilityList/availabilityDescription"/>
      <xs:field xpath="@id"/>
     </xs:key>
     <xs:keyref name="availabilityRef" refer="availabilityKey">
      <xs:selector xpath="availabilityList/availability"/>
      <xs:field xpath="@ref"/>
     </xs:keyref>
    </xs:element>
   </xs:sequence>
   <xs:attribute name="level" type="xs:int" use="required"/>
   <xs:attribute name="version" type="xs:int" use="required"/>
  </xs:complexType>
 </xs:element>
 <!--aministrative elements-->
 <xs:complexType name="dbReferenceType">
  <xs:annotation>
   <xs:documentation>Refers to a unique object in an external database.</xs:documentation>
  </xs:annotation>
  <xs:attribute name="db" type="xs:string" use="required"/>
  <xs:attribute name="id" type="xs:string" use="required"/>
  <xs:attribute name="secondary" type="xs:string" use="optional"/>
  <xs:attribute name="version" type="xs:string" use="optional"/>
 </xs:complexType>
 <xs:complexType name="fullNameType">
  <xs:annotation>
   <xs:documentation>Full, descriptive object name.</xs:documentation>
  </xs:annotation>
  <xs:simpleContent>
   <xs:extension base="xs:string"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="labelType">
  <xs:annotation>
   <xs:documentation>A short alphanumeric label identifying an object. Not necessarily unique.</xs:documentation>
  </xs:annotation>
  <xs:simpleContent>
   <xs:extension base="xs:string"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="refType">
  <xs:annotation>
   <xs:documentation>Refers to an object within the same entry by its id.</xs:documentation>
  </xs:annotation>
  <xs:attribute name="ref" type="xs:int" use="required"/>
 </xs:complexType>
 <xs:complexType name="attributeListType">
  <xs:annotation>
   <xs:documentation>A list of additional attributes. Open tag-value list to allow the inclusion of additional data.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="attribute" maxOccurs="unbounded">
    <xs:complexType>
     <xs:simpleContent>
      <xs:extension base="xs:string">
       <xs:attribute name="name" type="xs:string" use="required"/>
      </xs:extension>
     </xs:simpleContent>
    </xs:complexType>
   </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="bibrefType">
  <xs:annotation>
   <xs:documentation>Bibliographic reference.</xs:documentation>
  </xs:annotation>
  <xs:choice>
   <xs:element name="xref" type="xrefType">
    <xs:annotation>
     <xs:documentation>Bibliographic reference in external database, usually PubMed.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="attributeList" type="attributeListType">
    <xs:annotation>
     <xs:documentation>Alternative description of bibliographic reference if no external database entry is available.</xs:documentation>
    </xs:annotation>
   </xs:element>
  </xs:choice>
 </xs:complexType>
 <xs:complexType name="bioSourceType">
  <xs:annotation>
   <xs:documentation>Describes the biological source of an object, in simple form only the NCBI taxid.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="names" type="namesType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>The names of the organism.  The short label should be a common name if it exists.  The full name should be the full name of the species (i.e. genus species).</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="cellType" type="openCvType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Description of the cell type. Currently no species-independent controlled vocabulary for cell types is available, therefore the choice of reference database(s) is open to the data provider.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="compartment" type="openCvType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>The subcellular compartement of the object. It is strongly recommended to refer to the Gene Ontology cellular component in this element.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="tissue" type="openCvType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Description of the source tissue. Currently no species-independent controlled vocabulary for tissues is available, therefore the choice of reference database(s) is open to the data provider.</xs:documentation>
    </xs:annotation>
   </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="confidenceType">
  <xs:annotation>
   <xs:documentation>A confidence value.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="unit" type="openCvType"/>
   <xs:element name="value" type="xs:string"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="confidenceListType">
  <xs:annotation>
   <xs:documentation>A list of confidence values.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="confidence" type="confidenceType" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="cvType">
  <xs:annotation>
   <xs:documentation>Reference to an external controlled vocabulary.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="names" type="namesType">
    <xs:annotation>
     <xs:documentation>Name of the controlled vocabulary term.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="xref" type="xrefType">
    <xs:annotation>
     <xs:documentation>Source of the controlled vocabulary term.  E.g. the name of the CV and the term ID.</xs:documentation>
    </xs:annotation>
   </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="openCvType">
  <xs:annotation>
   <xs:documentation>Allows to reference an external controlled vocabulary, or to directly include a value if no suitable external definition is available.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="names" type="namesType">
    <xs:annotation>
     <xs:documentation>This contains the controlled vocabulary terms, as a short and optionally as a long form.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="xref" type="xrefType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Refers to the term of the controlled vocabulary in an external database.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="attributeList" type="attributeListType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>If no suitable external controlled vocabulary is available, this attributeList can be used to describe the term. Example: Attribute name: Mouse atlas tissue name; attribute value: spinal cord, day 30.</xs:documentation>
    </xs:annotation>
   </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="xrefType">
  <xs:annotation>
   <xs:documentation>Crossreference to an external database. Crossreferences to literature databases, e.g. PubMed, should not be put into this structure, but into the bibRef element where possible.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="primaryRef" type="dbReferenceType">
    <xs:annotation>
     <xs:documentation>Primary reference to an external database.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="secondaryRef" type="dbReferenceType" minOccurs="0" maxOccurs="unbounded">
    <xs:annotation>
     <xs:documentation>Further external objects describing the object.</xs:documentation>
    </xs:annotation>
   </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="namesType">
  <xs:annotation>
   <xs:documentation>Names for an object.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="shortLabel" type="xs:string"/>
   <xs:element name="fullName" type="xs:string" minOccurs="0"/>
   <xs:element name="alias" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>
 <!--Feature descrition-->
 <xs:complexType name="featureType">
  <xs:annotation>
   <xs:documentation>A feature, e.g. domain, on a sequence.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="names" type="namesType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Names for the feature, e.g. SH3 domain.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="xref" type="xrefType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Reference to an external feature description, for example InterPro entry.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="featureType" type="cvType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Description and classification of the feature</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="featureDetectionMethod" type="cvType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Experimental method used to identify the feature.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="location" type="baseLocationType" maxOccurs="unbounded">
    <xs:annotation>
     <xs:documentation>Location of the feature on the sequence of the interactor. On feature may have more than one location, used e.g. for features which involve sequence positions close in the folded, three-dimensional state of a protein, but non-continuous along the sequence.</xs:documentation>
    </xs:annotation>
   </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="intervalType">
  <xs:annotation>
   <xs:documentation>A interval on a sequence.</xs:documentation>
  </xs:annotation>
  <xs:attribute name="begin" type="xs:unsignedLong" use="required"/>
  <xs:attribute name="end" type="xs:unsignedLong" use="required"/>
 </xs:complexType>
 <xs:complexType name="baseLocationType">
  <xs:annotation>
   <xs:documentation>A location on a sequence. Both begin and end can be a defined position, a fuzzy position, or undetermined.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:choice>
    <xs:element name="begin" type="positionType">
     <xs:annotation>
      <xs:documentation>The integer position gives the begin position of the feature. The first base or amino acid is position 1. In combination with the numeric value, the attribute 'status' allows to express fuzzy positions, e.g. 'less than 4'.</xs:documentation>
     </xs:annotation>
    </xs:element>
    <xs:element name="beginInterval" type="intervalType">
     <xs:annotation>
      <xs:documentation>The begin position may be varying or unclear, but localisable to a certain range. Usually written as e.g. 3..5.</xs:documentation>
     </xs:annotation>
    </xs:element>
    <xs:element name="beginUndetermined" type="xs:boolean" default="false">
     <xs:annotation>
      <xs:documentation>True if the begin postion of the feature is undetermined. If the entire feature position is unknown, both beginUndetermined and endUndetermined are set.</xs:documentation>
     </xs:annotation>
    </xs:element>
   </xs:choice>
   <xs:choice>
    <xs:element name="end" type="positionType">
     <xs:annotation>
      <xs:documentation>The integer position gives the end position of the feature. The first base or amino acid is position 1. In combination with the numeric value, the attribute 'status' allows to express fuzzy positions, e.g. 'less than 4'.</xs:documentation>
     </xs:annotation>
    </xs:element>
    <xs:element name="endInterval" type="intervalType">
     <xs:annotation>
      <xs:documentation>The end position may be varying or unclear, but localisable to a certain range. Usually written as e.g. 3..5.</xs:documentation>
     </xs:annotation>
    </xs:element>
    <xs:element name="endUndetermined" type="xs:boolean" default="false">
     <xs:annotation>
      <xs:documentation>True if the end postion of the feature is undetermined. If the entire feature position is unknown, both beginUndetermined and endUndetermined are set.</xs:documentation>
     </xs:annotation>
    </xs:element>
   </xs:choice>
   <xs:element name="isLink" type="xs:boolean" default="false" minOccurs="0">
    <xs:annotation>
     <xs:documentation>True if the described feature is a linking feature connecting two amino acids rather than extending along the sequence. 'begin' references the first amino acid, 'end' the second. Standard example is a disulfide bridge. Does not reference another feature, therefore is only suitable for linking features on the same amino acid chain. </xs:documentation>
    </xs:annotation>
   </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="positionType">
  <xs:attribute name="position" type="xs:unsignedLong" use="required"/>
  <xs:attribute name="status" use="optional" default="certain">
   <xs:simpleType>
    <xs:restriction base="xs:string">
     <xs:enumeration value="certain"/>
     <xs:enumeration value="uncertain"/>
     <xs:enumeration value="less than"/>
     <xs:enumeration value="greater than"/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
 </xs:complexType>
 <!--Top level types-->
 <xs:complexType name="availabilityType">
  <xs:annotation>
   <xs:documentation>A text describing the availability of data, e.g. a copyright statement.</xs:documentation>
  </xs:annotation>
  <xs:simpleContent>
   <xs:extension base="xs:string">
    <xs:attribute name="id" type="xs:int" use="required"/>
   </xs:extension>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="experimentType">
  <xs:annotation>
   <xs:documentation>Describes one set of experimental parameters.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="names" type="namesType" minOccurs="0"/>
   <xs:element name="bibref" type="bibrefType">
    <xs:annotation>
     <xs:documentation>Publication describing the experiment.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="xref" type="xrefType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Refers to external database description of the experiment.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="hostOrganism" minOccurs="0">
    <xs:annotation>
     <xs:documentation>The host organism in which the experiment has been performed.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:complexContent>
      <xs:extension base="bioSourceType">
       <xs:attribute name="ncbiTaxId" type="xs:int" use="required"/>
      </xs:extension>
     </xs:complexContent>
    </xs:complexType>
   </xs:element>
   <xs:element name="interactionDetectionMethod" type="cvType">
    <xs:annotation>
     <xs:documentation>Experimental method to determine the interaction. External controlled vocabulary.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="participantIdentificationMethod" type="cvType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Experimental method to determine the interactors involved in the interaction. External controlled vocabulary.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="featureDetectionMethod" type="cvType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Experimental method to determine the features of interactors. External controlled vocabulary.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="confidenceList" type="confidenceListType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Confidence in this experiment.  Usually a statistical measure.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="attributeList" type="attributeListType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Semi-structured additional description of the experiment.</xs:documentation>
    </xs:annotation>
   </xs:element>
  </xs:sequence>
  <xs:attribute name="id" type="xs:int" use="required"/>
 </xs:complexType>
 <xs:complexType name="interactionElementType">
  <xs:annotation>
   <xs:documentation>A molecular interaction.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="names" type="namesType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Name(s) of the interaction.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="xref" type="xrefType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Interaction database ID</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:choice minOccurs="0">
    <xs:annotation>
     <xs:documentation>Either refer to an already defined availability statement in this entry or insert description.</xs:documentation>
    </xs:annotation>
    <xs:element name="availabilityRef" type="refType">
     <xs:annotation>
      <xs:documentation>References an availability statement already present in this entry.</xs:documentation>
     </xs:annotation>
    </xs:element>
    <xs:element name="availability" type="availabilityType">
     <xs:annotation>
      <xs:documentation>Describes the availability of the interaction data. If no availability is given, the data is assumed to be freely available.</xs:documentation>
     </xs:annotation>
    </xs:element>
   </xs:choice>
   <xs:element name="experimentList">
    <xs:annotation>
     <xs:documentation>List of experiments in which this interaction has been determined.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:choice maxOccurs="unbounded">
      <xs:annotation>
       <xs:documentation>Either refer to an already defined experiment in this entry or insert description.</xs:documentation>
      </xs:annotation>
      <xs:element name="experimentRef" type="refType">
       <xs:annotation>
        <xs:documentation>References an experiment already present in this entry.</xs:documentation>
       </xs:annotation>
      </xs:element>
      <xs:element name="experimentDescription" type="experimentType">
       <xs:annotation>
        <xs:documentation>An experiment in which this interaction has been determined.</xs:documentation>
       </xs:annotation>
      </xs:element>
     </xs:choice>
    </xs:complexType>
   </xs:element>
   <xs:element name="participantList">
    <xs:annotation>
     <xs:documentation>A list of molecules participating in this interaction. An interaction has one (intramolecular), two (binary), or more (n-ary, complexes)  participants.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
      <xs:element name="proteinParticipant" minOccurs="0" maxOccurs="unbounded">
       <xs:complexType>
        <xs:complexContent>
         <xs:extension base="proteinParticipantType"/>
        </xs:complexContent>
       </xs:complexType>
      </xs:element>
      <xs:element name="dnaParticipant" type="dnaParticipantType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="rnaParticipant" type="rnaParticipantType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="smallMoleculeParticipant" type="smallMoleculeParticipantType" minOccurs="0" maxOccurs="unbounded"/>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
   <xs:element name="experimentalFormList" minOccurs="0">
    <xs:annotation>
     <xs:documentation>The specific experimental form of molecules in an experiment, e.g. chemical modifications and added 'tags'.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
      <xs:element name="proteinExperimentalForm" minOccurs="0" maxOccurs="unbounded">
       <xs:annotation>
        <xs:documentation>Describes the experimental form of a protein in a specific experiment. </xs:documentation>
       </xs:annotation>
       <xs:complexType>
        <xs:sequence>
         <xs:element name="experimentRef" type="refType">
          <xs:annotation>
           <xs:documentation>This experimental form has been used in the experiment referred to.</xs:documentation>
          </xs:annotation>
         </xs:element>
         <xs:element name="proteinParticipantRef" type="refType">
          <xs:annotation>
           <xs:documentation>A reference to the experimental form of the participant.</xs:documentation>
          </xs:annotation>
         </xs:element>
         <xs:element name="isTagged" type="xs:boolean" minOccurs="0">
          <xs:annotation>
           <xs:documentation>True if the protein has been tagged in the experiment.</xs:documentation>
          </xs:annotation>
         </xs:element>
         <xs:element name="isOverexpressed" type="xs:boolean" minOccurs="0">
          <xs:annotation>
           <xs:documentation>True if the protein has been overexpressed in the experiment.</xs:documentation>
          </xs:annotation>
         </xs:element>
         <xs:element name="experimentalForm" type="cvType" minOccurs="0">
          <xs:annotation>
           <xs:documentation>The form of the participant in the interaction, e.g. protein tags.</xs:documentation>
          </xs:annotation>
         </xs:element>
         <xs:element name="experimentalRole" type="cvType" minOccurs="0">
          <xs:annotation>
           <xs:documentation>The role of the participant in the interaction, e.g. bait.</xs:documentation>
          </xs:annotation>
         </xs:element>
        </xs:sequence>
       </xs:complexType>
      </xs:element>
      <xs:element name="dnaExperimentalForm" minOccurs="0" maxOccurs="unbounded">
       <xs:annotation>
        <xs:documentation>Describes the experimental form of DNA in a specific experiment.</xs:documentation>
       </xs:annotation>
       <xs:complexType>
        <xs:sequence>
         <xs:element name="experimentRef" type="refType">
          <xs:annotation>
           <xs:documentation>This experimental form has been used in the experiment referred to.</xs:documentation>
          </xs:annotation>
         </xs:element>
         <xs:element name="dnaParticipantRef" type="refType">
          <xs:annotation>
           <xs:documentation>A reference to the experimental form of the participant.</xs:documentation>
          </xs:annotation>
         </xs:element>
         <xs:element name="experimentalForm" type="cvType" minOccurs="0">
          <xs:annotation>
           <xs:documentation>The form of the participant in the interaction.</xs:documentation>
          </xs:annotation>
         </xs:element>
         <xs:element name="experimentalRole" type="cvType" minOccurs="0">
          <xs:annotation>
           <xs:documentation>The role of the participant in the interaction.</xs:documentation>
          </xs:annotation>
         </xs:element>
        </xs:sequence>
       </xs:complexType>
      </xs:element>
      <xs:element name="rnaExperimentalForm" minOccurs="0" maxOccurs="unbounded">
       <xs:annotation>
        <xs:documentation>Describes the experimental form of RNA in a specific experiment.</xs:documentation>
       </xs:annotation>
       <xs:complexType>
        <xs:sequence>
         <xs:element name="experimentRef" type="refType">
          <xs:annotation>
           <xs:documentation>This experimental form has been used in the experiment referred to.</xs:documentation>
          </xs:annotation>
         </xs:element>
         <xs:element name="rnaParticipantRef" type="refType">
          <xs:annotation>
           <xs:documentation>A reference to the experimental form of the participant.</xs:documentation>
          </xs:annotation>
         </xs:element>
         <xs:element name="isOverexpressed" type="xs:boolean" minOccurs="0">
          <xs:annotation>
           <xs:documentation>True if the RNA has been overexpressed in the experiment.</xs:documentation>
          </xs:annotation>
         </xs:element>
         <xs:element name="experimentalForm" type="cvType" minOccurs="0">
          <xs:annotation>
           <xs:documentation>The form of the participant in the interaction.</xs:documentation>
          </xs:annotation>
         </xs:element>
         <xs:element name="experimentalRole" type="cvType" minOccurs="0">
          <xs:annotation>
           <xs:documentation>The role of the participant in the interaction.</xs:documentation>
          </xs:annotation>
         </xs:element>
        </xs:sequence>
       </xs:complexType>
      </xs:element>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
   <xs:element name="inferredInteractionList" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Describes inferred interactions, usually combining data from more than one experiment. Examples: 1: Show the topology of binary interactions within a complex. 2: Interaction inferred from multiple experiments which on their own would not support the interaction. Example: A-B in experiment 1, B-C- in experiment 2, A-C is the inferred interaction.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
      <xs:element name="inferredInteraction" maxOccurs="unbounded">
       <xs:complexType>
        <xs:sequence>
         <xs:element name="experimentRef" type="refType" maxOccurs="unbounded">
          <xs:annotation>
           <xs:documentation>Reference to experiment which provides evidence for the inferred interaction.</xs:documentation>
          </xs:annotation>
         </xs:element>
         <xs:element name="participant" minOccurs="2" maxOccurs="unbounded">
          <xs:annotation>
           <xs:documentation>Participant of the inferred interaction.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
           <xs:choice>
            <xs:element name="proteinParticipantRef" type="refType"/>
            <xs:element name="proteinFeatureRef" type="refType"/>
            <xs:element name="dnaParticipantRef" type="refType"/>
            <xs:element name="dnaFeatureRef" type="refType"/>
            <xs:element name="rnaParticipantRef" type="refType"/>
            <xs:element name="rnaFeatureRef" type="refType"/>
            <xs:element name="smallMoleculeParticipantRef" type="refType"/>
           </xs:choice>
          </xs:complexType>
         </xs:element>
        </xs:sequence>
       </xs:complexType>
      </xs:element>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
   <xs:element name="interactionType" type="cvType" minOccurs="0" maxOccurs="unbounded">
    <xs:annotation>
     <xs:documentation>External controlled vocabulary characterising the interaction type, for example "aggregation".</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="negative" type="xs:boolean" default="false" minOccurs="0">
    <xs:annotation>
     <xs:documentation>If true, this interaction has been shown NOT to occur under the described experimental conditions. Default false. If this optional attribute is missing, it is assumed to be set to false.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="confidenceList" type="confidenceListType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Confidence in this interaction.  Usually a statistical measure.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="attributeList" type="attributeListType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Semi-structured additional description of the data contained in the entry.</xs:documentation>
    </xs:annotation>
   </xs:element>
  </xs:sequence>
 </xs:complexType>
 <!--interactors and participants-->
 <xs:complexType name="proteinInteractorType">
  <xs:annotation>
   <xs:documentation>Describes a protein interactor.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="names" type="namesType">
    <xs:annotation>
     <xs:documentation>Name(s).  The short label is typically a short name that could appear as a label on a diagram.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="xref" type="xrefType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>An interactor should have an xref whenever possible. If the interactor is not available in external databases, it must be characterised within this object e.g. by its sequence.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="organism" minOccurs="0">
    <xs:annotation>
     <xs:documentation>The normal source organism of the interactor.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:complexContent>
      <xs:extension base="bioSourceType">
       <xs:attribute name="ncbiTaxId" type="xs:int" use="required"/>
      </xs:extension>
     </xs:complexContent>
    </xs:complexType>
   </xs:element>
   <xs:element name="sequence" type="xs:token" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Sequence in uppercase</xs:documentation>
     <xs:documentation>Usage:</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="attributeList" type="attributeListType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Allows semi-structured additional annotation of the interactor.</xs:documentation>
    </xs:annotation>
   </xs:element>
  </xs:sequence>
  <xs:attribute name="id" type="xs:int" use="required"/>
 </xs:complexType>
 <xs:complexType name="proteinParticipantType">
  <xs:annotation>
   <xs:documentation>A protein participating in an interaction.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:choice>
    <xs:annotation>
     <xs:documentation>Either refer to an already defined protein interactor in this entry or insert description.</xs:documentation>
    </xs:annotation>
    <xs:element name="proteinInteractorRef" type="refType">
     <xs:annotation>
      <xs:documentation>References an interactor described in the interactorList of the entry</xs:documentation>
     </xs:annotation>
    </xs:element>
    <xs:element name="proteinInteractor" type="proteinInteractorType">
     <xs:annotation>
      <xs:documentation>Fully describes an interactor</xs:documentation>
     </xs:annotation>
    </xs:element>
   </xs:choice>
   <xs:element name="featureList" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Sequence features relevant for the interaction, for example binding domains</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
      <xs:element name="feature" maxOccurs="unbounded">
       <xs:complexType>
        <xs:complexContent>
         <xs:extension base="featureType">
          <xs:attribute name="id" type="xs:int" use="required"/>
         </xs:extension>
        </xs:complexContent>
       </xs:complexType>
      </xs:element>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
   <xs:element name="confidenceList" type="confidenceListType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Confidence in participant detection.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="participantRole" type="cvType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>The role of the participant in the interaction. This describes the biological role, e.g. enzyme or enzyme target. The experimental role of the participant, e.g. 'bait', is shown in proteinExperimentalForm.</xs:documentation>
    </xs:annotation>
   </xs:element>
  </xs:sequence>
  <xs:attribute name="id" type="xs:int" use="required"/>
 </xs:complexType>
 <xs:complexType name="smallMoleculeInteractorType">
  <xs:annotation>
   <xs:documentation>Describes a small molecule interactor.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="names" type="namesType">
    <xs:annotation>
     <xs:documentation>Protein name(s).  The short label is typically a short name that could appear as a label on a diagram.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="xref" type="xrefType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>An interactor should have an xref whenever possible. If the interactor is not available in external databases, it must be characterised within this object, using the attrubuteList.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="attributeList" type="attributeListType" minOccurs="0"/>
  </xs:sequence>
  <xs:attribute name="id" type="xs:int" use="required"/>
 </xs:complexType>
 <xs:complexType name="smallMoleculeParticipantType">
  <xs:annotation>
   <xs:documentation>A small molecule participating in an interaction.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:choice>
    <xs:annotation>
     <xs:documentation>Either refer to an already defined protein interactor in this entry or insert description.</xs:documentation>
    </xs:annotation>
    <xs:element name="smallMoleculeInteractorRef" type="refType">
     <xs:annotation>
      <xs:documentation>References an interactor described in the interactorList of the entry</xs:documentation>
     </xs:annotation>
    </xs:element>
    <xs:element name="smallMoleculeInteractor" type="smallMoleculeInteractorType">
     <xs:annotation>
      <xs:documentation>Fully describes an interactor</xs:documentation>
     </xs:annotation>
    </xs:element>
   </xs:choice>
   <xs:element name="confidenceList" type="confidenceListType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Confidence in participant detection.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="participantRole" type="cvType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>The role of the participant in the interaction.</xs:documentation>
    </xs:annotation>
   </xs:element>
  </xs:sequence>
  <xs:attribute name="id" type="xs:int" use="required"/>
 </xs:complexType>
 <xs:complexType name="dnaInteractorType">
  <xs:annotation>
   <xs:documentation>Describes a DNA interactor.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="names" type="namesType">
    <xs:annotation>
     <xs:documentation>Name(s).  The short label is typically a short name that could appear as a label on a diagram.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="xref" type="xrefType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>An interactor should have an xref whenever possible. If the interactor is not available in external databases, it must be characterised within this object e.g. by its sequence.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="organism" minOccurs="0">
    <xs:annotation>
     <xs:documentation>The normal source organism of the interactor.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:complexContent>
      <xs:extension base="bioSourceType">
       <xs:attribute name="ncbiTaxId" type="xs:int" use="required"/>
      </xs:extension>
     </xs:complexContent>
    </xs:complexType>
   </xs:element>
   <xs:element name="sequence" type="xs:token" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Sequence in uppercase</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="attributeList" type="attributeListType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Allows semi-structured additional annotation of the interactor.</xs:documentation>
    </xs:annotation>
   </xs:element>
  </xs:sequence>
  <xs:attribute name="id" type="xs:int" use="required"/>
 </xs:complexType>
 <xs:complexType name="dnaParticipantType">
  <xs:annotation>
   <xs:documentation>A dna molecule participating in an interaction.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:choice>
    <xs:annotation>
     <xs:documentation>Either refer to an already defined protein interactor in this entry or insert description.</xs:documentation>
    </xs:annotation>
    <xs:element name="dnaInteractorRef" type="refType">
     <xs:annotation>
      <xs:documentation>References an interactor described in the interactorList of the entry</xs:documentation>
     </xs:annotation>
    </xs:element>
    <xs:element name="dnaInteractor" type="dnaInteractorType">
     <xs:annotation>
      <xs:documentation>Fully describes an interactor</xs:documentation>
     </xs:annotation>
    </xs:element>
   </xs:choice>
   <xs:element name="featureList" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Sequence features relevant for the interaction, for example binding domains</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
      <xs:element name="feature" maxOccurs="unbounded">
       <xs:complexType>
        <xs:complexContent>
         <xs:extension base="featureType">
          <xs:attribute name="id" type="xs:int" use="required"/>
         </xs:extension>
        </xs:complexContent>
       </xs:complexType>
      </xs:element>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
   <xs:element name="confidenceList" type="confidenceListType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Confidence in participant detection.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="participantRole" type="cvType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>The role of the participant in the interaction.</xs:documentation>
    </xs:annotation>
   </xs:element>
  </xs:sequence>
  <xs:attribute name="id" type="xs:int" use="required"/>
 </xs:complexType>
 <xs:complexType name="rnaInteractorType">
  <xs:annotation>
   <xs:documentation>Describes a RNA interactor.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="names" type="namesType">
    <xs:annotation>
     <xs:documentation>Name(s).  The short label is typically a short name that could appear as a label on a diagram.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="xref" type="xrefType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>An interactor should have an xref whenever possible. If the interactor is not available in external databases, it must be characterised within this object e.g. by its sequence.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="organism" minOccurs="0">
    <xs:annotation>
     <xs:documentation>The normal source organism of the interactor.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:complexContent>
      <xs:extension base="bioSourceType">
       <xs:attribute name="ncbiTaxId" type="xs:int" use="required"/>
      </xs:extension>
     </xs:complexContent>
    </xs:complexType>
   </xs:element>
   <xs:element name="sequence" type="xs:token" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Sequence in uppercase</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="attributeList" type="attributeListType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Allows semi-structured additional annotation of the interactor.</xs:documentation>
    </xs:annotation>
   </xs:element>
  </xs:sequence>
  <xs:attribute name="id" type="xs:int" use="required"/>
 </xs:complexType>
 <xs:complexType name="rnaParticipantType">
  <xs:annotation>
   <xs:documentation>A rna molecule participating in an interaction.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:choice>
    <xs:annotation>
     <xs:documentation>Either refer to an already defined protein interactor in this entry or insert description.</xs:documentation>
    </xs:annotation>
    <xs:element name="rnaInteractorRef" type="refType">
     <xs:annotation>
      <xs:documentation>References an interactor described in the interactorList of the entry</xs:documentation>
     </xs:annotation>
    </xs:element>
    <xs:element name="rnaInteractor" type="rnaInteractorType">
     <xs:annotation>
      <xs:documentation>Fully describes an interactor</xs:documentation>
     </xs:annotation>
    </xs:element>
   </xs:choice>
   <xs:element name="featureList" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Sequence features relevant for the interaction, for example binding domains</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
      <xs:element name="feature" maxOccurs="unbounded">
       <xs:complexType>
        <xs:complexContent>
         <xs:extension base="featureType">
          <xs:attribute name="id" type="xs:int" use="required"/>
         </xs:extension>
        </xs:complexContent>
       </xs:complexType>
      </xs:element>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
   <xs:element name="confidenceList" type="confidenceListType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Confidence in participant detection.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="participantRole" type="cvType" minOccurs="0">
    <xs:annotation>
     <xs:documentation>The role of the participant in the interaction.</xs:documentation>
    </xs:annotation>
   </xs:element>
  </xs:sequence>
  <xs:attribute name="id" type="xs:int" use="required"/>
 </xs:complexType>
</xs:schema>
